/* Additional CSS to ensure the section doesn't affect layout when empty */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.form__group {
  position: relative;
}

.arrow-icon {
  position: absolute; 
  top:-20px;
  left:300px;
  
}

 @media screen and (max-width: 768px) {
  .arrow-icon {
    position: absolute; 
    top:-15px;
    left:270px;   
  }
  
}

@media (max-width: 426px) {
  .arrow-icon {
    position: absolute; 
    top:-15px;
    left:310px;
    
  }
  
}

@media screen and (max-width: 321px){
  .arrow-icon{
    position: absolute; 
   
  }
}

@media screen and (max-width: 376px) {
  .arrow-icon {
    position: absolute; 
    top:-18px;
    left:232px;
    
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > div {
  margin: 0;
  padding: 0;
}


section {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 14px 0px;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  width: auto;
  z-index: 7;
      /* Set display to none when there are no filteredOptions */
   display: none;
  position: absolute;
  top: 100%;
  left: 25%;
  z-index: 100;
  overflow-y: scroll;
}
* {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-style: normal;
}